.App {
  text-align: center;
}
.active{
  color: rgb(218, 160, 160) ;
  text-decoration: none;
}

body{
  background-color: rgba(115, 255, 255, 0.945);
}
.courseLink{
  text-decoration: none;
}
.courseLink:hover{
  text-decoration: underline;
}


a{
  color: black;
  font-size: 30px;}

nav a {
  margin: 10px;
}  

nav {
  background-color: darkcyan;
  padding: 10px;
}


h1 {
  font-size: 45px;
  margin-top: 20px;
}

button {
  padding: 10px;
  font-size: 45px;
  border-radius: 5px;
  margin: 20px;
  border: none;
  cursor: pointer;

}

button:hover {
  background-color: blueviolet;
}